<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div v-if="showLessons">
            Sort by
            <button v-on:click="lessons.sort((a, b) => a.topic> b.topic) ? 1 : -1">Title</button>
            <button v-on:click="lessons.sort((a, b) => a.location> b.location) ? 1 : -1">Location</button>
            <button v-on:click="lessons.sort((a, b) => a.price> b.price) ? 1 : -1">Price</button>
            <button v-on:click="lessons.sort((a, b) => a.space> b.space) ? 1 : -1">Space</button>
            <div v-for="lesson in lessons">
                <img width=150px; style="float: left;" v-bind:src="lesson.image">
                <h1>{{ lesson.topic }}</h1>
                <p><b>{{ lesson.location }} <br><br>
                        Price: {{ lesson.price }}</b></p>
                <p><b>Number of spaces: {{ lesson.space }}</b></p>
                <button v-on:click="addToCart(lesson, shoppingCart, booking)" v-show="lesson.space > 0 && 1 > cartItemCount ">Add to cart</button>
            </div>
            <button @click="showCheckout" v-show="canCheckOut"> {{cartItemCount}} Checkout</button>
        </div>
        <div v-else>
            <h2>Checkout</h2>
            <p>
                <strong>Full Name:</strong>
                <input v-model.trim="booking.name" type="text" />
            </p>
            <p>
                <strong>Phone:</strong>
                <input v-model="booking.phone" type="tel" />
            </p>
            
            <h2>Booking Information</h2>
            <p>Full Name: {{booking.name}} </p>
            <p>Phone: {{booking.phone}} </p>
            <button @click="addInformation(booking)">Confirm</button>
            <p>Lessons: </p>
            <div v-for="item, index in shoppingCart">
                <p>{{item.topic}}
                {{item.location}}
                {{item.price}}
                <button @click="remove(index)">Remove</button>
            </p>

            </div>


            <button @click="submitForm(booking, booking[0].lesson_id, lessons.space -= 1)" v-show="canBook && canCheckOut">Book</button>
            <p><button @click="showCheckout">Back</button></p>
        </div>
        
    </div>
    <script src="script.js" ></script>
</body>

</html>