<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <div v-if="showLessons">
            Sort by
            <button v-on:click="lessons.sort((a, b) => a.topic> b.topic) ? 1 : -1">Title</button>
            <button v-on:click="lessons.sort((a, b) => a.location> b.location) ? 1 : -1">Location</button>
            <button v-on:click="lessons.sort((a, b) => a.price> b.price) ? 1 : -1">Price</button>
            <button v-on:click="lessons.sort((a, b) => a.space> b.space) ? 1 : -1">Space</button>
            <div v-for="lesson in lessons">
                <img width=150px; style="float: left;" v-bind:src="lesson.image">
                <h1>{{ lesson.topic }}</h1>
                <p><b>{{ lesson.location }} <br><br>
                        Price: {{ lesson.price }}</b></p>
                <p><b>Number of spaces: {{ lesson.space }}</b></p>
                <button v-on:click="addToCart(lesson, shoppingCart, booking)" v-show="lesson.space > 0 && 1 > cartItemCount ">Add to cart</button>
            </div>
            <button @click="showCheckout" v-show="canCheckOut"> {{cartItemCount}} Checkout</button>
        </div>
        <div v-else>
            <h2>Checkout</h2>
            <p>
                <strong>Full Name:</strong>
                <input v-model.trim="booking.name" type="text" />
            </p>
            <p>
                <strong>Phone:</strong>
                <input v-model="booking.phone" type="tel" />
            </p>
            
            <h2>Booking Information</h2>
            <p>Full Name: {{booking.name}} </p>
            <p>Phone: {{booking.phone}} </p>
            <button @click="addInformation(booking)">Confirm</button>
            <p>Lessons: </p>
            <div v-for="item, index in shoppingCart">
                <p>{{item.topic}}
                {{item.location}}
                {{item.price}}
                <button @click="remove(index)">Remove</button>
            </p>

            </div>


            <button @click="submitForm(booking, booking[0].lesson_id, lessons.space -= 1)" v-show="canBook && canCheckOut">Book</button>
            <p><button @click="showCheckout">Back</button></p>
        </div>
        
    </div>
    <script>
        let instance = new Vue({
            el: '#app',
            data: {
                 lessons: {},
                 showLessons: true,
                 shoppingCart: [],
                 booking: []
                 },
            created: function () {
                fetch("https://mobile-cw2.herokuapp.com/collection/lessons").then(
                    function (response) {
                        response.json().then(
                            function (json) {
                                instance.lessons = json;
                            });
                    })
            },
            methods: {
        addToCart(lesson, cart, booking) {
            if (lesson.space > 0) {
                lesson.space -= 1
                cart.push({lesson_id: lesson._id, topic: lesson.topic,location: lesson.location,price: lesson.price});
            }
        },

        addInformation(booking) {
            booking.push({name: booking.name, phone: booking.phone, lesson_id: this.shoppingCart[0].lesson_id, space: 1});
        },

        showCheckout() {
            this.showLessons = this.showLessons ? false : true;
        },

        submitForm(newObject, id, update) {        
                    //set the url to the server and route
                    fetch('https://mobile-cw2.herokuapp.com/collection/orders', {
                        method: 'POST', //set the HTTP method as 'POST'
                        headers: {
                            'Content-Type': 'application/json', //set datatype as JSON
                        },
                        body: JSON.stringify(newObject),
                    })
                        .then(response => response.json())

                    fetch('https://mobile-cw2.herokuapp.com/collection/lessons/' + id, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(update)
                    })
                    .then(response => response.json())
        },

        remove(index) {
            this.$delete(this.shoppingCart, index)
        }
    },
    computed: {
        cartItemCount: function () {
            return this.shoppingCart.length || '';
        },

        canCheckOut: function () {
            return this.cartItemCount >= 1;
        },

        canBook() {
            return this.booking.name != "" &&
            this.booking.phone != "";
        }

    }
        });

        /*             const newObject = {
                        "id": 1010,
                        "topic": "Maths",
                        "price": 90,
                        "location": "Glasgow",
                        "space": 5
                    };
        
                    //set the url to the server and route
                    fetch('https://mobile-cw2.herokuapp.com/collection/lessons', {
                        method: 'POST', //set the HTTP method as 'POST'
                        headers: {
                            'Content-Type': 'application/json', //set datatype as JSON
                        },
                        body: JSON.stringify(newObject),
                    })
                        .then(response => response.json())
                        .then(responseJSON => {
                            document.getElementById('response').innerText = JSON.stringify(responseJSON);
                        })
                        .catch((error) => {
                            document.getElementById('error').innerText = error;
                        }); */
    </script>
</body>

</html>